/*!
 * Copyright (c) 2021, 2023 Eclipse Foundation, Inc.
 * 
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 * 
 * Contributors:
 *   Christopher Guindon <chris.guindon@eclipse-foundation.org>
 *   Olivier Goulet <olivier.goulet@eclipse-foundation.org>
 * 
 * SPDX-License-Identifier: EPL-2.0
*/

@header-dark-bg-img: url('images/jumbotron/home-jumbo-image.jpg');

//@todo: Move to EFSA
@neutral-tinted-dark: #c9c5c5;
@neutral-tinted-dark-lighter: #c3c3c3;
@neutral-tinted-dark-darker: #8b8686;
