<div class="col-lg-6 col-md-12 col-lg-offset-11 match-height-item margin-bottom-60">
    <h3 class="margin-bottom-30">Featured Committer</h3>
    <div class="featured-card featured-committer">
        <div class="featured-card-img-wrapper">
            <img class="featured-card-img" src="{{committer.picture}}" alt="" />
        </div>
        <div class="featured-card-details">
            <div class="featured-card-details-item featured-card-details-item-highlighted">
                <div class="featured-card-details-item-content">
                  <strong>{{committer.name}}</strong> | {{committer.body}} 
                </div>
            </div>
            <a class="featured-card-details-item" href="{{committer.url}}">
              Read More
            </a>
        </div>
    </div>
</div>
<div class="col-lg-6 col-md-12 col-lg-offset-1 match-height-item margin-bottom-60">
    <h3 class="margin-bottom-30">Featured Project</h3>
    <div class="featured-card featured-project">
        <div class="featured-card-img-wrapper">
            <img class="featured-card-img featured-card-img-logo" src="{{ project.logo }}" alt="" />
        </div>
        <div class="featured-card-details">
            <div class="featured-card-details-item featured-card-details-item-highlighted">
                <div class="featured-card-details-item-content">
                  <strong>{{project.name}}</strong>
                </div>
            </div>
            <a class="featured-card-details-item" href="https://projects.eclipse.org/projects/{{project.id}}">
                Read More
            </a>
        </div>
    </div>
</div>

