{{#news}}
    <a class="news-item-card tpl-news-list-item-home link-unstyled" href="{{link}}">
        <div class="news-item-card-title">
            {{title}}      
        </div>
        <div class="news-item-card-date">
            {{date}}
        </div>
        <div class="news-item-card-body">
            {{body}}
        </div>
    </a>
{{/news}}
