/*!
 * Copyright (c) 2023 Eclipse Foundation, Inc.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * Contributors:
 *   Olivier Goulet <olivier.goulet@eclipse-foundation.org>
 *
 * SPDX-License-Identifier: EPL-2.0
*/

//@todo: Move to EFSA

//== Positioning
// Flex
.align-items-stretch {
  align-items: stretch;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

//== Colors
// Backgrounds
.bg-neutral-tinted-dark {
  background-color: @neutral-tinted-dark;

  &.bg-hover-lighter:hover {
    background-color: @neutral-tinted-dark-lighter;
  }

  &.bg-hover-darker:hover {
    background-color: @neutral-tinted-dark-darker;
  }
}
