@light-blue: #48aab9;
@light-gray: #f8f8f8;
@dark-brown: #2c2a2a;

//Full content styles
.container-wrapper-openchain {
  background-color: white;

  h2 {
    margin: 40px 0px 30px 0px;
  }

  ul {
    list-style: none;
    margin-bottom: 20px;

    li {
      &::before {
        content: "\2022"; //unicode for bullet
        color: @light-blue;
        font-weight: bold;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
      }
    }
  }

  hr {
    margin-left: 0;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100px;
    border-top: 1px solid black;
  }

  .background-light-gray {
    background-color: @light-gray;
    color: black;
  }

  //Top section, left column
  .background-dark-brown {
    background-color: @dark-brown;
    color: white;

    @media screen and (min-width: 768px) {
      padding-right: 0px;
    }
  }

  .description-bg {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      height: 100%;
      width: 1500px;
      top: 0;
      right: 0;
      background-color: @dark-brown;
      z-index: 1;
    }
  }

  .description-bg-content {
    z-index: 2;
    position: relative;
    padding: 50px 0px;
  }

  .description-img-wrapper {
    img {
      width: 100%;
    }

    padding: 15px 0px 15px 5px;
    margin-bottom: 25px;
    background-color: white;

    @media screen and (max-width: 768px) {
      padding: 15px 5px 15px 5px;
    }
  }

  .description-text-wrapper {
    @media screen and (min-width: 768px) {
      padding-right: 30px;
    }
  }

  //Top section right column
  .what-makes-us-content {
    position: relative;
    margin: 40px 0px 50px 0px;

    @media screen and (min-width: 768px) {
      margin: 60px 0px 50px 60px;
    }
  }

  .what-makes-us-row {
    @media screen and (min-width: 768px) {
      margin-bottom: 20px;
    }
  }

  .what-makes-us-text {
    padding-top: 10px;
    padding-bottom: 10px;

    @media screen and (min-width: 768px) {
      padding: 5px 0px;
    }
  }

  .icon-blue-label {
    background-color: @light-blue;
    position: relative;
    border-radius: 5px;
    padding: 10px;

    @media screen and (min-width: 768px) {
      margin-bottom: 15px;
    }

    //Icon centering
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: center;
    text-align: center;

    &::after {
      content: "";
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid @light-blue;
      position: absolute;
      bottom: -5px;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

//Custom jumbotron
.header-rings-bg-img .featured-jumbotron {
  background-image: url("../../../content/openchain/images/banner-rings.jpg");
}

.header-no-split {
  h1:after {
    content: none !important;
  }
}
