{{#items}}
    <div class="weighted-working-group-block-wrapper">
        {{#isFetching}}
            <div class="weighted-working-group-block weighted-working-group-loading" aria-label="Loading working group website links">
                <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
                <span class="sr-only">Loading...</span>
            </div>
        {{/isFetching}}
        {{^isFetching}}
            <a class="weighted-working-group-block" href="{{websiteUrl}}" aria-label="{{ title }}'s official website">
                <div class="weighted-working-group-logo-wrapper">
                    <img class="weighted-working-group-logo" src="{{logo}}" alt="" />
                </div>
            </a>
        {{/isFetching}}
    </div>
{{/items}}
