/*!
 * Copyright (c) 2023 Eclipse Foundation, Inc.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * Contributors:
 *   Christopher Guindon <chris.guindon@eclipse-foundation.org>
 *   Olivier Goulet <olivier.goulet@eclipse-foundation.org>
 *
 * SPDX-License-Identifier: EPL-2.0
*/

@import (reference) '../../styles.less';

.tile-section-container {
  margin-bottom: 1rem;
}

.tile-section {
  display: flex;
  justify-content: stretch;
  flex-direction: column;
  text-align: center;
}

.tile-section-end {
  flex-grow: 1;
  align-items: flex-end;
}

.tile-section .btn {
  display: block;
  width: 100%;
}

@media (min-width: @screen-sm-min) {
  .tile-section .btn {
    display: inline-block;
    width: unset;
  }
}

@media (min-width: @screen-md-min) {
  .tile-section {
    text-align: left;
  }

  .tile-section-container {
    margin-bottom: 3rem;
  }
}
